<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>所有活動</title>
<link rel="stylesheet"
	href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
<link rel="stylesheet"
	href="https://cdn.datatables.net/plug-ins/1.10.25/i18n/Chinese-traditional.json" />
<!-- SweetAlert -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<style>
th {
	white-space: nowrap;
	font-size: 20px;
}

td {
	font-size: 18px;
	text-overflow: ellipsis;
}

</style>
<body class="adminbody">
	<div id="main">
		<div th:replace="~{layout/navbar}"></div>

		<div class="content-page">
			<!-- Start content -->
			<div class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xl-12">
							<div class="breadcrumb-holder">
								<h1 class="main-title float-left">
									<i class="fa fa-table"></i> 活動總覽
								</h1>
								<ol class="breadcrumb float-right">
									<li class="breadcrumb-item">首頁</li>
									<li class="breadcrumb-item active">活動管理</li>
								</ol>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
					<!-- end row -->

					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
							<div class="card mb-3">
								<div class="card-header">
									<form th:action="@{/activity/insert}">
										<button class="btn btn-primary" type="submit" value="新增">
											<i class="fa-solid fa-plus"></i> 新增
										</button>
									</form>
								</div>

								<div class="card-body">
									<div class="table-responsive">
										<table id="activity-table"
											class="table-bordered table-hover compact display">
											<thead>
												<tr>
													<th>活動編號</th>
													<th>活動名稱</th>
													<th>活動封面</th>
													<th>活動類型</th>
													<th>活動日期</th>
													<th>活動地點</th>
													<th>主辦單位</th>
													<th>報名狀態</th>
													<!--  	<th>最後修改時間</th> -->
													<th>操作</th>
												</tr>
											</thead>
											<tbody>
												<th:block th:each=" oneActivity : ${allActivity}">
													<tr>
														<td th:text="${oneActivity.activityId}"></td>
														<td th:text="${oneActivity.activityName}"></td>
														<td><img width="250px" height="150px"
															th:src="@{'/dowloadImageActivity/' + ${oneActivity.activityId}}">
														</td>
														<td th:text="${oneActivity.activityCategory}"></td>
														<td
															th:text="${#dates.format(oneActivity.activityDate,'yyyy/MM/dd')}">
														</td>
														<td th:text="${oneActivity.activityLocation}"></td>
														<td th:text="${oneActivity.organizer}"></td>
														<td th:text="${oneActivity.activityStatus}"></td>
														<!--  		<td
															th:text="${#dates.format(oneActivity.updateTime,'yyyy/MM/dd HH:mm:ss')}"></td>-->
														<td>

															<div style="display: flex;">
																<form th:action="@{/activity/update}" method="get">
																	<input name="activityId"
																		th:value="${oneActivity.activityId}" type="hidden" />
																	<button
																		class="btn btn-outline-primary update-btn-activity">修改</button>
																</form>
																<div style="margin-left: 10px;"></div>
																<form th:action="@{/activity/delete}" method="post"
																	id="deleteForm">
																	<input name="_method" value="delete" type="hidden">
																	<input name="activityId"
																		th:value="${oneActivity.activityId}" type="hidden" />
																	<button
																		class="btn btn-outline-secondary delete-btn-activity"
																		onclick="submitTest(event)" id="deleteBtn">刪除</button>
																</form>
																<div style="margin-left: 10px;"></div>
																<form th:action="@{/goBackRegistrationRecord}"
																	method="get">
																	<input name="activityId"
																		th:value="${oneActivity.activityId}" type="hidden" />
																	<button class="btn btn-outline-success" type="submit">查看報名</button>
																</form>

															</div>
														</td>
													</tr>
												</th:block>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- END container-fluid -->
			</div>
			<!-- END content -->
		</div>
	</div>
	<div th:replace="~{layout/footer}"></div>
	<!-- END content-page -->

	<!-- BEGIN Java Script for this page -->
	<script
		src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
	<script
		src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
	<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
	<script
		src="https://cdn.datatables.net/plug-ins/1.10.25/i18n/Chinese-traditional.json"></script>
	<script>

$('#activity-table').DataTable({
            "language": {
                url: "https://cdn.datatables.net/plug-ins/1.10.25/i18n/Chinese-traditional.json"
            }
        });


function submitTest(event) {
  event.preventDefault(); // 阻止表單提交

  Swal.fire({
    title: "確定要刪除嗎？",
    text: "刪除後將無法恢復！！",
    icon: "warning",
    showCancelButton: true,
    confirmButtonText: "刪除",
    cancelButtonText: "取消"
  }).then(function(result) {
    if (result.isConfirmed) {
      // 延遲執行表單提交
      setTimeout(function() {
        document.getElementById('deleteForm').submit();
      }, 2000); // 2秒延遲
      // 顯示打勾圖示及成功
      Swal.fire({
        title: "刪除成功",
        icon: "success",
        showConfirmButton: false,
        timer: 1500,
      });
    } else if (result.isDismissed) {
      // 顯示取消提示
      Swal.fire("取消刪除", "", "info");
    }
  });
}

$('#deleteBtn').click(submitTest);

 	// 該活動報名紀錄為空 跳出的提示訊息
	// 獲取URL中的alert參數
	const urlParams = new URLSearchParams(window.location.search);
	const alertMessage = urlParams.get('alert');

	// 如果存在alert参数，使用SweetAlert顯示提示框 (報名失敗)
	if (alertMessage) {
	Swal.fire({
 	 title: '不好意思',
  	text: alertMessage,
  	icon: 'warning',
 	confirmButtonText: '確定'
});
}
</script>
</body>
</html>