<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>所有活動</title>
	<style>
		.dataTables_wrapper .dataTables_filter {
			text-align: right;
			margin-right: 10px;
		}
	</style>
</head>

<body>
	<div th:replace="~{layout/navbar}"></div>
	<div class="content-page">
		<!-- Start content -->
		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xl-12">
						<div class="breadcrumb-holder">
							<h1 class="main-title float-left">
								<i class="fa fa-table"></i> 活動總覽
							</h1>
							<ol class="breadcrumb float-right">
								<li class="breadcrumb-item">Home</li>
								<li class="breadcrumb-item active">All</li>
							</ol>
							<div class="clearfix"></div>
						</div>
					</div>
					<!-- table-->
					
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
						<div class="card mb-3">
							<div style="margin-left: 35px; margin-top: 20px;">
								<form th:action="@{/activity/add}">
									<button class="btn btn-primary" type="submit" value="新增">
										<i class="fa-solid fa-plus"></i> 新增
									</button>
								</form>
							</div>
							<div class="card-body">
								<div class="table-responsive">
									<table id="example1" class="table table-bordered table-hover display">
										<thead>
											<tr>
												<th>活動編號 <i class="fa-solid fa-sort"></i></th>
												<th>活動名稱 <i class="fa-solid fa-sort"></i></th>
												<th>活動內容 <i class="fa-solid fa-sort"></i></th>
												<th>活動封面圖片 <i class="fa-solid fa-sort"></i></th>
												<th>活動日期 <i class="fa-solid fa-sort"></i></th>
												<th>活動地點 <i class="fa-solid fa-sort"></i></th>
												<th>活動狀態 <i class="fa-solid fa-sort"></i></th>
												<th>操作</th>
											</tr>
										</thead>
										<tbody>
											<th:block th:each=" oneActivity : ${activityList}">
												<tr>
													<td th:text="${oneActivity.activityId}"></td>
													<td th:text="${oneActivity.activityName}"></td>
													<td style="max-width: 200px"
														th:text="${oneActivity.activityContent}"></td>
													<td><img width="300px" height="200px"
															th:src="@{'/dowloadImage/' + ${oneActivity.activityId}}">
													</td>
													<td
														th:text="${#dates.format(oneActivity.activityDate,'yyyy-MM-dd')}">
													</td>
													<td th:text="${oneActivity.activityLocation}"></td>
													<td th:text="${oneActivity.activityStatus}"></td>
													<td>
														<div style="display: flex;">
															<form th:action="@{/activity/update}" method="get">
																<input name="activityId"
																	th:value="${oneActivity.activityId}"
																	type="hidden" />
																<button
																	class="btn btn-outline-primary update-btn-activity">修改</button>
															</form>
															<div style="margin-left: 10px;"></div>
															<form th:action="@{/activity/delete}" method="post">
																<input name="_method" value="delete" type="hidden">
																<input name="activityId"
																	th:value="${oneActivity.activityId}"
																	type="hidden" />
																<button
																	class="btn btn-outline-secondary delete-btn-activity"
																	type="submit"
																	onclick="return confirm('您確定要刪除這個活動嗎？')">刪除</button>
															</form>
														</div>
													</td>
												</tr>
											</th:block>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- end card-->
			</div>
			<!-- END container-fluid -->
		</div>
		<!-- END content -->
	</div>
	<!-- END content-page -->
	<div th:replace="~{layout/footer}"></div>
	<!-- BEGIN Java Script for this page -->
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script>
		// START CODE FOR BASIC DATA TABLE 
		$(document).ready(function () {
			$('#example1').DataTable();
		});
				// END CODE FOR BASIC DATA TABLE

	</script>
		<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>

	
</body>

</html>