<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>修改活動</title>
</head>
<body>
	<div th:replace="~{layout/navbar}"></div>

	<div class="content-page">

		<!-- Start content -->
		<div class="content">
			<div class="container-fluid"></div>
			<div class="row">
				<div class="col-xl-12">
					<div class="breadcrumb-holder">
						<h1 class="main-title float-left"><i class="fa fa-file-text-o"></i> 修改活動</h1>
						<ol class="breadcrumb float-right">
							<li class="breadcrumb-item">Home</li>
							<li class="breadcrumb-item active">Update</li>
						</ol>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			<!-- end row -->

			<div class="row">

				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

					<form th:action="@{/activity/update}" th:method="post" th:object="${activity}"
						enctype="multipart/form-data">
						<input th:field="*{activityId}" type="hidden"/>
						<div class="card mb-3">
							<div class="card-body">
								<div class="row">
									<div class="form-group col-md-6">
										<label>活動名稱</label> <input class="form-control"
											name="activityName" type="text" id="activityName" th:field="*{activityName}">
									</div>
									<div class="form-group col-md-6">
										<label>活動日期</label> <input type="text" class="form-control"
											id="activityDate" name="activityDate" th:field="*{activityDate}">
									</div>
								</div>

								<div class="row">

									<div class="form-group col-md-6">
										<label>活動地點</label> <input type="text" class="form-control"
											id="activityLocation" name="activityLocation" th:field="*{activityLocation}">
									</div>
									<div class="form-group col-md-6">
										<label>活動狀態</label> <input type="text" class="form-control"
											id="activityStatus" name="activityStatus" th:field="*{activityStatus}">
									</div>
								</div>

								<div class="form-group">
									<label>活動內容</label>
									<textarea rows="3" class="form-control editor"
										name="activityContent" id="activityContent" th:field="*{activityContent}"></textarea>
								</div>

								<div class="form-group">
									<label>活動封面</label><br /> <input type="file"
										name="activityCover" id="activityCover" accept="image/gif, image/jpeg, image/png" th:field="*{activityCover}">
									<img width="300px" height="200px" id="activityCoverImg" th:src="@{/gym/activity/img/placeholder-image.jpg}" />
								</div>

								<div class="form-group">
									<button type="submit" class="btn btn-primary" id="update-btn"
										onclick="return confirm('您確定要修改這個活動嗎？')">確定</button>
									<button type="reset" class="btn btn-primary">取消</button>
								</div>

							</div>
							<!-- end card-body -->

						</div>
						<!-- end card -->
					</form>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="~{layout/footer}"></div>
	<!-- BEGIN Java Script for this page -->
	<script th:src="@{/assets/plugins/trumbowyg/trumbowyg.min.js}"></script>
	<script
		th:src="@{/assets/plugins/trumbowyg/plugins/upload/trumbowyg.upload.js}"></script>
	<!-- END Java Script for this page -->
	<script>$('#activityCover').on('change', function(e){      
  const file = this.files[0];//將上傳檔案轉換為base64字串
      
  const fr = new FileReader();//建立FileReader物件
  fr.onload = function (e) {
    $('#activityCoverImg').attr('src', e.target.result);//读取的结果放入圖片
  };
      
  // 使用 readAsDataURL 將圖片轉成 Base64
  fr.readAsDataURL(file);
});
</script>
</body>
</html>