<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${activity.activityName}"></title>
<link
	th:href="@{http://localhost:8080/gymlife/gym/activity/fontawesome/css/all.css}"
	rel="stylesheet">
<link
	th:href="@{http://localhost:8080/gymlife/gym/activity/fontawesome/css/brands.css}"
	rel="stylesheet">
<link
	th:href="@{http://localhost:8080/gymlife/gym/activity/fontawesome/css/solid.css}"
	rel="stylesheet">
<link rel="stylesheet"
	th:href="@{http://localhost:8080/gymlife/gym/activity/css/countdown.css}">
</head>
<style>
.sidebar-option {
	margin-top: 50px;
	color: white;
}

.categories-title {
    display: inline-block;
    background-color: #97CBFF;
    color: black;
    padding: 5px 10px;
    border-radius: 20px;
    margin-bottom: 15px;
}

.Category-button {
    background-color:#97CBFF;
    color: black;
    border: none;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 20px; /* 設置圓角半徑 */
}

.Category-button:hover {
    color: #FFB5B5;
}
</style>
<body style="background-color: black;">
	<div th:replace="~{layout/front_nav}"></div>
	<!-- Add a space with margin -->
	<div style="margin-top: 150px;"></div>
	<div class="carousel-container">
		<div id="carouselExample" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
				<img class="card-img-top" width="300px" height="500px"
					th:src="@{'/dowloadImageActivity/' + ${activity.activityId}}">
			</div>
		</div>
	</div>
	<div style="margin-top: 40px;"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="class-details-text">
					<div style="margin-top: 40px;"></div>
					<div class="card mb-8">
						<div class="form-color">
							<div class="card-header">
								<h3>
									<i class="fa fa-hand-pointer-o"></i> 個人基本資料
								</h3>
							</div>
							<div class="card-body">
								<form
									th:action="@{/submitRegistration(activityId=${activity.activityId})}"
									method="post" id="registrationForm">
									<div class="form-group">
										<label for="userName">姓名<span class="text-danger">*</span></label>
										<input type="text" name="userName" required
											class="form-control" id="userName"
											th:value="${member.userName}">
									</div>
									<div class="form-group">
										<label for="userGender">性别<span class="text-danger">*</span></label>
										<div class="col-sm-9">
											<div class="form-check">
												<input class="form-check-input" type="radio"
													name="userGender" id="gridRadios1" value="男"
													th:checked="${member.userGender == '男'}" /> <label
													class="form-check-label" for="gridRadios1">男</label>
											</div>
											<div class="form-check">
												<input class="form-check-input" type="radio"
													name="userGender" id="gridRadios2" value="女"
													th:checked="${member.userGender == '女'}" /> <label
													class="form-check-label" for="gridRadios2">女</label>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label for="userBirthDay">出生年月日<span
											class="text-danger">*</span></label> <input type="date"
											name="userBirthDay" class="form-control"
											th:value="${#dates.format(member.userBirthDay, 'yyyy-MM-dd')}"
											th:attr="value=${#dates.format(member.userBirthDay, 'yyyy-MM-dd')}"
											min="1900-01-01" max="2023-01-01" required="required">
									</div>
									<div class="form-group">
										<label for="userTel">手機<span class="text-danger">*</span></label>
										<input type="tel" required="required" id="userTel"
											name="userTel" class="form-control" maxlength="11"
											pattern="09\d{2}\d{6}" th:value="${member.userTel}">
									</div>
									<div class="form-group">
										<label for="userEmail">E-mail<span class="text-danger">*</span></label>
										<input type="email" required="required" class="form-control"
											name="userEmail" id="userEmail"
											th:value="${member.userEmail}">
									</div>
									<div class="form-group">
										<label for="userAddress">地址</label><span class="text-danger">*</span>
										<div>
											<input type="text" class="form-control" id="userAddress"
												name="userAddress" th:value="${member.userAddress}"
												required="required">
										</div>
									</div>
									<div class="form-group">
										<label>緊急聯絡人</label><span class="text-danger">*</span>
										<div>
											<input type="text" class="form-control"
												name="emergencyContact" id="emergencyContact"
												required="required" />
										</div>
										<label>電話</label><span class="text-danger">*</span>
										<div>
											<input type="text" class="form-control"
												name="emergencyContactPhone" id="emergencyContactPhone"
												required="required" maxlength="11" pattern="09\d{2}\d{6}" />
										</div>
										<label>與報名者關係</label><span class="text-danger">*</span>
										<div>
											<input type="text" class="form-control" name="relationship"
												id="relationship" required="required" />
										</div>
									</div>
									<div class="form-group text-right m-b-0">
										<button class="btn btn-primary" type="submit">送出</button>
										<button type="reset" class="btn btn-secondary m-l-5">
											取消</button>
										<button type="button" class="btn btn-success"
											id="fill-form-btn" onclick="selectMale()">一鍵輸入</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-8">
				<div class="info-all">
					<!-- 倒計時顯示區域 -->
					<div class="countdown-wrapper">
						<div id="countdownElementIdEndDate"
							th:attr="data-remaining-seconds=${remainingSecondsEndDate}"></div>
						<div id="countdownElementIdDate"
							th:attr="data-remaining-seconds=${remainingSecondsDate}"></div>
					</div>
					<span class="info-title" th:text="${activity.activityName}"
						style="color: white;"></span>
					<div style="color: white;">
						<i class="far fa-calendar-alt"></i> <span class="info-subtitle"
							th:text="${#dates.format(activity.activityDate, 'yyyy/MM/dd') + ' (' + #dates.format(activity.activityDate, 'EEEE') + ')'}"
							style="display: inline;"></span>
					</div>
					<div style="color: white;">
						<i class="fas fa-map-marker-alt" /></i> <span class="info-subtitle"
							th:text="${activity.activityLocation}"
							style="display: inline; color: white;"></span>
					</div>
				</div>
				<div class="button-wrapper">
					<a th:href="@{/goRegistration(activityId=${activity.activityId})}"
						class="custom-button go-button">我要報名</a> <a
						th:href="@{/goRegistrationRecord}" class="custom-button go-button">報名查詢</a>
				</div>
				<div class="sidebar-option">
					<div class="so-categories">
						<h5 class="categories-title">活動類型</h5>
						<ul class="categories-info">
							<li><button class="Category-button" onclick="return false;">#
									路跑</button></li>
							<li><button class="Category-button" onclick="return false;">#
									健走</button></li>
							<li><button class="Category-button" onclick="return false;">#
									鐵人</button></li>
							<li><button class="Category-button" onclick="return false;">#
									籃球</button></li>
							<li><button class="Category-button" onclick="return false;">#
									越野跑</button></li>
							<li><button class="Category-button" onclick="return false;">#
									自行車</button></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="~{layout/front_footer}"></div>
	<script th:inline="javascript">

    // 獲取倒計時剩餘秒數 
    var remainingSecondsEndDate = /*[[${remainingSecondsEndDate}]]*/ 0;
    var remainingSecondsDate = /*[[${remainingSecondsDate}]]*/ 0;

    // 倒計時邏輯
    function countdownTimer() {
        var countdownElementEndDate = document.getElementById('countdownElementIdEndDate');
        var countdownElementDate = document.getElementById('countdownElementIdDate');

        // 更新倒計時
        function updateCountdown() {
            if (remainingSecondsEndDate <= 0) {
                // 如果時間差小於等於0，表示倒計時結束,則顯示活動日期倒計時
                var days = Math.floor(remainingSecondsDate / (24 * 60 * 60));
                var hours = Math.floor((remainingSecondsDate % (24 * 60 * 60)) / (60 * 60));
                var minutes = Math.floor((remainingSecondsDate % (60 * 60)) / 60);
                var seconds = remainingSecondsDate % 60;

                countdownElementEndDate.textContent = '';
                countdownElementDate.textContent = "活動日期: " + days + "天 " + hours + "小時 " + minutes + "分鐘 " + seconds + "秒";
                // 進行其他邏輯
            } else {
                var days = Math.floor(remainingSecondsEndDate / (24 * 60 * 60));
                var hours = Math.floor((remainingSecondsEndDate % (24 * 60 * 60)) / (60 * 60));
                var minutes = Math.floor((remainingSecondsEndDate % (60 * 60)) / 60);
                var seconds = remainingSecondsEndDate % 60;

                countdownElementEndDate.textContent = "報名截止: " + days + "天 " + hours + "小時 " + minutes + "分鐘 " + seconds + "秒";
                countdownElementDate.textContent = '';
                remainingSecondsEndDate--; // 更新剩餘秒數
            }
        }

        // 每秒鐘更新一次倒計時
        setInterval(updateCountdown, 1000);
    }

    // 調用倒計時函數
    countdownTimer();
    
      function selectMale() {
    document.getElementById("gridRadios1").checked = true;
  }
    
    // 一鍵輸入按鈕點擊事件處理函式
    $('#fill-form-btn').click(function() {
        // 設定表單欄位的值
        $('#gridRadios1').val('男');
        $('#emergencyContact').val('王小明');
        $('#emergencyContactPhone').val('0956103921');
        $('#relationship').val('兄弟');
    });
</script>


</body>
</html>
