<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>購物車</title>

 <!-- SweetAlert2框框 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- 自己的CSS -->
    <link rel="stylesheet" th:href="@{http://localhost:8080/gymlife/gym/com/css/front_shoppingCart.css}">
</head>
<body>
<div th:replace="~{layout/front_nav}"></div>

 <section class="class-details-section spad">
        <div class="container">
	<!-- 包起整體頁面的div -->
	<div class="wholePageContent">
		<main class="main-content">
			<div class="container">
				<div class="wrapper wrapper-content animated fadeInRight">
					<div class="row">
						<div class="col-md-9">
							<div class="ibox">
								<div class="ibox-title">
									<span class="pull-right">(<strong>[[${length}]]</strong>) items </span>
									<h5>購物車</h5>
									<br>
								</div>
								<th:block th:each="com : ${CartList}">
									<form th:action="@{/getRemoveCart.func}" method="post">
										<div class="ibox-content">
											<div class="table-responsive">
												<table class="table shoping-cart-table">
													<tbody>
														<tr>
															<td width="90">
															 <th:block th:each="entry,iteration  : ${com.comPicInfo}">
																<div class="cart-product-imitation">
																	<img th:src="@{'/download/'+ ${entry.key}}" name="comPic" class="comPic" style="width: 100%; height: 100%" />
																</div>
																</th:block>
															</td>
															<td class="desc">
																<h3>
																	<a th:href="@{'/com/'+${com.comId}}" class="text-navy"> [[${com.comName}]] </a>
																</h3>
																<p class="small">[[${com.comType}]]</p>
																<dl class="small m-b-none">
																	<dt>Description lists</dt>
																	<dd>[[${com.comContent}]]</dd>
																</dl>
																<div class="m-t-sm">
																	<button  type="submit" class="btn btn-primary">
																		<i class="fa fa-trash"></i> Remove item
																	</button>
																</div>
															</td>
															<td width="65" height="fit-content"><input
																type="number" class="form-control itemNum"
																th:value="${com.comNumber}" th:data-price="${com.comPrice}" th:data-productId="${com.comId}" style="width:55px;" min="1"/></td>
															<td>
																<h5>$: [[${com.comPrice}]] </h5>
															</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
										<input type="hidden" name="comId" th:value="${com.comId}">
										<input type="hidden" name="itemNumber" th:value="${com.comNumber}">
									</form>
								</th:block>

								<div class="ibox-content">
									<a th:href="@{/shopList.func}">
										<button class="btn btn-white">
											<i class="fa fa-arrow-left"></i> Continue shopping
										</button>
									</a>
								</div>
							</div>
						</div>

						<div class="col-md-3">
							<form th:action="@{/getOrder.func}" method="post">
								<div class="ibox">
									<div class="ibox-title">
										<h5>總價</h5>
									</div>
									<div class="ibox-content">
										<span> Total </span>
										<h2 class="font-bold total">$0</h2>

										<hr>
										<span class="text-muted small"> *For United States, France and Germany applicable sales tax will be applied </span>
										<div class="m-t-sm">
											<div class="btn-group">
												<button type="submit" class="btn btn-primary pull-right" id="buyBtn">
													<i class="fa fa fa-shopping-cart"></i> 結帳
												</button>
											</div>
										</div>
									</div>
								</div>
								<th:block th:each="com : ${CartList}">
									<input type="hidden" name="comId" th:id="'productId'+${com.comId}" th:value="${com.comId}">
									<input type="hidden" name="itemNum" th:id="'itemNum-'+${com.comId}" th:value="${com.comNumber}">
								</th:block>
									<input type="hidden" name="totalPrice" class="totalPrice">
							</form>
							<div class="ibox">
								<div class="ibox-title">
									<h5>Support</h5>
								</div>
								<div class="ibox-content text-center">
									<h3>
										<i class="fa fa-phone"></i> 0800-092-000
									</h3>
									<span class="small"> Please contact with us if you have	any questions. We are avaliable 24h. </span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
</div>
</section>


<!--回到上方按鈕-->
	<button id="back-to-top-btn" title="回到頁面頂端">
		<i class="fa fa-arrow-up">TOP</i>
	</button>
	
<div th:replace="~{layout/front_footer}"></div>
<!-- Js Plugins -->
    <script th:src="@{front/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{front/js/bootstrap.min.js}"></script>
    <script th:src="@{front/js/jquery.magnific-popup.min.js}"></script>
    <script th:src="@{front/js/masonry.pkgd.min.js}"></script>
    <script th:src="@{front/js/jquery.barfiller.js}"></script>
    <script th:src="@{front/js/jquery.slicknav.js}"></script>
    <script th:src="@{front/js/owl.carousel.min.js}"></script>
    <script th:src="@{front/js/main.js}"></script>
    
    <!-- My Js 	 -->
    <script th:src="@{http://localhost:8080/gymlife/gym/com/js/front_shoppingCart.js}"></script>
</body>
</html>