<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>後臺首頁</title>


<!-- BS JS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

<!-- MY CSS -->
  <link rel="stylesheet" th:href="@{gym/com/css/backhome.css}">  
</head>
<body class="adminbody">

<div id="main">
<div th:replace="~{layout/navbar}"></div>

		<div class="content-page">

			<!-- Start content -->
			<div class="content">

				<div class="container-fluid">
					<div class="row">
						<div class="col-xl-12">
							<div class="breadcrumb-holder">
								<h1 class="main-title float-left">首頁</h1>
								<ol class="breadcrumb float-right">
									<li class="breadcrumb-item">Home</li>
									<li class="breadcrumb-item active">首頁</li>
								</ol>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>

					<!-- -------------------------內文-------------------------------------------------------------- -->
		<div id="toastContainer"></div>

				</div>
				<!-- END container-fluid -->

			</div>
			<!-- END content -->

		</div>

					<button id="back-to-top-btn" class="notifyBtn" title="回到頁面頂端">
                        <i class="fa fa-bell" aria-hidden="true" style="position: absolute; top: 17px; left: 17px;"></i>
                        <span class="notif-bullet"></span>
                    </button>
<div th:replace="~{layout/footer}"></div>

</div>


 <!-- My JS -->
    <script th:src="@{gym/com/js/backhome.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>