<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>GYMLIFE-課程購買</title>
	<style>
		#buynumber {
			width: 60px;
			padding: 0 12px;
			vertical-align: top;
			text-align: center;
			outline: none;
		}

		.input-number,
		#buynumber {
			border: 1px solid #cccccc;
			height: 38px
		}

		.input-number {
			display: inline-block;
			width: 30px;
			height: 38px;
			/* 调整图标的高度 */
			line-height: 39px;
			/* 使用图标的高度作为行高 */
			background: #f1f1f1;
			color: #444444;
			text-align: center;
			font-weight: bold;
			cursor: pointer;
		}

		.input-number:active {
			background: #dddddd;
		}
	</style>
</head>
<link th:href="@{/gym/course/front/coursebuy.css}" rel="stylesheet" type="text/css" />
<script src="https://kit.fontawesome.com/fdf42e9c64.js" crossorigin="anonymous"></script>

<body>
	<div th:replace="~{layout/front_nav}"></div>
	<!-- Breadcrumb Section Begin -->
	<section class="breadcrumb-section set-bg" data-setbg="/gymlife/front/img/breadcrumb-bg.jpg">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="breadcrumb-text">
						<h2>教練課程</h2>
						<div class="bt-option">
							<a th:href="@{/}">Home</a> <a th:href="@{/front/coursesingle}">課程專區</a>
							<span>購買課程</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Breadcrumb Section End -->
	<!-- Class Details Section Begin -->
	<form th:action="@{/ecpayCheckout}" method="post">
		<section class="class-details-section spad">
			<div class="container" style="background-color: white;border-radius:10px">
				<div class="row p-2">
					<div class="col-lg-8 ">
						<div class="row ">
							
							
							<div class="col-lg-8 mb-2">
								<div style="justify-content: center;align-items: center;">
									<img th:src="@{'/courseImage/'+${cbean.images[0].imageId}}"
										class="img-fluid mx-auto" alt="..." style="border-radius:10px">
								</div>
							</div>
							<div class="col-lg-4 d-flex" style="width: 100%;padding-left:0">
								<div class="card" style="width: 100%;">
									<div class="card-header" style="background-color:lightgray">
										<b>課程特色</b>
									</div>
									<ul class="list-group list-group-flush">
										<li class="list-group-item"><b>每堂課50分鐘的專業指導。</b></li>
										<li class="list-group-item"><b>由專業教練一對一教授。</b></li>
										<li class="list-group-item"><b>提供量身定制的運動計劃。</b></li>
										<li class="list-group-item"><b>保證您的動作正確和安全。</b></li>
										<li class="list-group-item"><b>幫助您實現健康和健身目標。</b></li>
									</ul>
								</div>
							</div>
							<div class="col-lg-12 ">
								<h4 class="card-title" ><b><a th:text="${cbean.courseName}"></a></b></h4>
								<h5 class="card-title" ><b><a th:text="'教練- '+${cbean.coach.coachNickName}"></a></b></h5>
								<a class="card-text" th:text="${cbean.courseIntroduce}"></a>
							</div>


						</div>
					</div>
					<div class="col-lg-4">
						<div
							style="border: 1px solid rgb(192, 192, 192);text-align:center;display:flex;flex-direction:column;align-items:center;justify-content:center; padding: 100px 0;margin:50px 0">
							<div class="mb-3">
								<h5 style="background-color:#dddddd"><b>訂購人資料</b></h5>
							</div>
							<div class="mb-3">
								<h5>
									<b>姓名&nbsp:</b>&nbsp&nbsp&nbsp<span th:text="${userName}"></span>
								</h5>
							</div>
							<div class="mb-3">
								<h5>
									<b>E-mail&nbsp:</b>&nbsp&nbsp&nbsp<span th:text="${member.userEmail}"></span>
								</h5>
							</div>
							<div class="mb-3">
								<h5>
									<b>電話&nbsp:</b>&nbsp&nbsp&nbsp<span th:text="${member.userTel}"></span>
								</h5>
							</div>
							<div class="mb-3">
								<h5>
									<b>地址&nbsp:</b>&nbsp&nbsp&nbsp<span th:text="${member.userAddress}"></span>
								</h5>
							</div>
							<br>

							<div class="col-lg-12 d-flex" style="justify-content: center; align-items: center;">
								<span><b>購買堂數&nbsp:</b>&nbsp&nbsp&nbsp&nbsp</span> <span class="input-number" id="input-plus"
									style="border-right: none;"><i class="fa-solid fa-plus"
										style="color: #000000;"></i></span> <input type="text" value="1" id="buynumber"
									name="corderQuantity">
								<!-- 							<input type="number" min="1" step="1" value="1" id="buynumber" name="corderQuantity"> -->
								<span class="input-number" id="input-minus" style="border-left: none;"><i
										class="fa-solid fa-minus" style="color: #000000;"></i></span>
							</div>
							<br>
							<div class="col-lg-12 d-flex" style="justify-content: center; align-items: center;">
								<input type="hidden" th:value="${cbean.courseCost}" id="courseCost"> <a><b>總金額&nbsp:</b></a>&nbsp&nbsp<b><a style="color: red;"
									th:text="${cbean.courseCost}" id="allcost"></a></b>

							</div>
							<br>
							<div class="col-lg-12 d-flex" style="justify-content: center; align-items: center;">
								<button type="submit" class="btn btn-danger" id="paybtn">結帳</button>
							</div>
							<!-- 						</div> -->
							<input type="hidden" th:value="${cbean.courseName}" name="courseName">
							<input type="hidden" th:value="${userId}" id="userId" name="userId">
							<input type="hidden" th:value="${userName}" id="userName">
							<input type="hidden" th:value="${cbean.courseId}" id="courseId" name="courseId">
							<input type="hidden" value="完成" name="corderPayment">
							<input type="hidden" name="corderCost" th:value="${cbean.courseCost}" id="corderCost">
							<!-- 					</div> -->
						</div>
					</div>
					<div id="paymodal"></div>
				</div>
		</section>
	</form>

	<div th:replace="~{layout/front_footer}"></div>
	<script th:src="@{/gym/course/front/coursebuy.js}"></script>
</body>

</html>