<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>GYMLIFE-教練課程</title>
</head>

<body>
	<div th:replace="~{layout/front_nav}"></div>
	<!-- Breadcrumb Section Begin -->
	<section class="breadcrumb-section set-bg" data-setbg="/gymlife/front/img/breadcrumb-bg.jpg">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="breadcrumb-text">
						<h2>教練課程</h2>
						<div class="bt-option">
							<a th:href="@{/}">Home</a> <a th:href="@{/front/course}">課程專區</a>
							<span>教練課程</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Breadcrumb Section End -->

	<!-- Class Details Section Begin -->
	<section class="class-details-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="class-details-text">
						<!----------------------------	輪播開始---------------------------------------->
						<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner" id="coursephoto">
								<th:block th:each="img, iterStat  :${cbeans[0].images}" th:with="i=${iterStat.index}">
									<div th:class="${i== 1? 'carousel-item active':'carousel-item'}">
										<img class="d-block w-100" th:src="@{'/courseImage/'+${img.imageId}}"
											alt="First slide">
									</div>
								</th:block>
							</div>
							<a class="carousel-control-prev" href="#carouselExampleControls" role="button"
								data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span>
								<span class="sr-only">Previous</span>
							</a> <a class="carousel-control-next" href="#carouselExampleControls" role="button"
								data-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span>
								<span class="sr-only">Next</span>
							</a>
						</div>

						<!----------------------------	課程內文---------------------------------------->
						<div class="cd-text">
							<div class="cd-single-item">
								<h3 id="courseName" th:text="${cbeans[0].courseName}"></h3>
								<p id="courseIntroduce" th:text="${cbeans[0].courseIntroduce}"></p>
							</div>

						</div>
						<div class="cd-trainer">
							<div class="row">
								<div class="col-md-6">

									<!----------------------------	教練圖片------------------------------------------>
									<div class="cd-trainer-pic" id="coachphoto">
										<img th:src="@{'/coachImage/'+${cbeans[0].coach.coachId}}">
									</div>
								</div>
								<div class="col-md-6">
									<div class="cd-trainer-text">
										<div class="trainer-title">
											<h4 id="coachName" th:text="${cbeans[0].coach.coachName}"></h4>
											<span>Gym Trainer</span>
										</div>
										<div class="trainer-social" id="chphoneemail">
											<a th:href="'tel:'+${cbeans[0].coach.coachPhoneNumber}"
												id="coachPhoneNumber"><i class="fa-solid fa-phone"
													style="color: #fefefe;"></i></a>
											<a th:href="'mailto:'+${cbeans[0].coach.coachEmail}" id="coachEmail"><i
													class="fa  fa-envelope-o"></i></a>
										</div>
										<ul class="trainer-info">
											<li><span>Age</span><span id="coachBirthday"
													th:text="${cbeans[0].coach.getAge(cbeans[0].coach.coachBirthday)}">
												</span></li>
											<li><span>Height</span><span id="coachHeight"
													th:text="${cbeans[0].coach.coachHeight}"></span></li>
											<li><span>Weight</span><span id="coachWeight"
													th:text="${cbeans[0].coach.coachWeight}"></span></li>
										</ul>
										<p id="coachIntroduce" th:text="${cbeans[0].coach.coachIntroduce}"></p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row justify-content-center">
						<div class="col-lg-8 ">
							<div class="ps-item">
								<h3>單堂</h3>
								<div class="pi-price">
									<h2 th:text="'$ '+${cbeans[0].courseCost}" id="courseCost"></h2>
									<span>SINGLE CLASS</span>
								</div>
								<ul>
									<li>專業教練一對一</li>
									<li>50分鐘/堂</li>
								</ul>
								<form th:action="@{/course/buy}" method="get">
									<input type="submit" id="buycourseId" name="courseId" th:value="${cbeans[0].courseId}" style="display: none;">
									<a href="#" class="primary-btn pricing-btn" id="buybtn">立即購買</a>
								</form>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-4 col-md-8">
					<div class="sidebar-option">
						<div class="so-categories">
							<!------------------------ 課程種類 ---------------------------------------------->
							<h5 class="title">課程列表</h5>
							<ul>
								<th:block th:each="cbean :${cbeans}">
									<li><a href="#" class="coursebtn" th:data-cid="${cbean.courseId}"
											th:text="${cbean.courseName}"></a></li>
								</th:block>
							</ul>
						</div>
						<div class="so-latest">
							<h5 class="title">Latest posts</h5>
							<div class="latest-large set-bg" data-setbg="img/letest-blog/latest-1.jpg">
								<div class="ll-text">
									<h5>
										<a href="#">This Japanese Way of Making Iced Coffee Is a
											Game...</a>
									</h5>
									<ul>
										<li>Aug 20, 2019</li>
										<li>20 Comment</li>
									</ul>
								</div>
							</div>
							<div class="latest-item">
								<div class="li-pic">
									<img src="img/letest-blog/latest-2.jpg" alt="">
								</div>
								<div class="li-text">
									<h6>
										<a href="#">Grilled Potato and Green Bean Salad</a>
									</h6>
									<span class="li-time">Aug 15, 2019</span>
								</div>
							</div>
							<div class="latest-item">
								<div class="li-pic">
									<img src="img/letest-blog/latest-3.jpg" alt="">
								</div>
								<div class="li-text">
									<h6>
										<a href="#">The $8 French Rosé I Buy in Bulk Every Summer</a>
									</h6>
									<span class="li-time">Aug 15, 2019</span>
								</div>
							</div>
							<div class="latest-item">
								<div class="li-pic">
									<img src="img/letest-blog/latest-4.jpg" alt="">
								</div>
								<div class="li-text">
									<h6>
										<a href="#">Ina Garten's Skillet-Roasted Lemon Chicken</a>
									</h6>
									<span class="li-time">Aug 15, 2019</span>
								</div>
							</div>
							<div class="latest-item">
								<div class="li-pic">
									<img src="img/letest-blog/latest-5.jpg" alt="">
								</div>
								<div class="li-text">
									<h6>
										<a href="#">The Best Weeknight Baked Potatoes, 3 Creative
											Ways</a>
									</h6>
									<span class="li-time">Aug 15, 2019</span>
								</div>
							</div>
						</div>
						<div class="so-banner set-bg" data-setbg="img/sidebar-banner.jpg">
							<h5>Banner 300x300</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Class Details Section End -->


	<div th:replace="~{layout/front_footer}"></div>
	<script th:src="@{/gym/course/front/coursesingle.js}"></script>
	<script th:src="@{/gym/course/front/coursebuy.js}"></script>
	
</body>

</html>