<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>GYMLIFE-課程專區</title>
</head>

<body>
    <div th:replace="~{layout/front_nav}"></div>
     <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" th:data-setbg="@{/front/img/breadcrumb-bg.jpg}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb-text">
                        <h2>課程專區</h2>
                        <div class="bt-option">
                            <a th:href="@{/}">Home</a>
                            <span>課程專區</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Classes Section Begin -->
    <section class="classes-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>GYMLIFE</span>
                        <h2>選擇您感興趣的課程</h2>
                    </div>
                </div>
            </div>
            <div class="row">
<!--             課程選擇開始 -->
            <th:block th:each="cbean :${cbeans}">
                <div class="col-lg-4 col-md-6">
                    <div class="class-item">
                        <div class="ci-pic" style="height:250px;width:360px">
                            <img th:src="'http://localhost:8080/gymlife/courseImage/' + ${cbean.images[0].imageId}" alt="">
                        </div>
                        <div class="ci-text">
                            <span th:text="${cbean.coach.coachName}"></span>
                            <h5 th:text="${cbean.courseName}"></h5>
                            <a th:href="@{/front/coursesingle/{courseId}(courseId=${cbean.courseId})}"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                </th:block>
            </div>
        </div>
    </section>
    <!-- ChoseUs Section End -->
    
    
<!--    <div th:replace="~{frontgymlife/course/customerservice}"></div>-->
    <div th:replace="~{layout/front_footer}"></div>


</body>

</html>