<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>insertPage</title>
</head>
<body class="adminbody">
<div id="main">
<div th:replace="~{BackGYMLIFE/layout/navbar}"></div>
<div class="content-page">

			<!-- Start content -->
			<div class="content">

				<div class="container-fluid">
					<div class="row">
						<div class="col-xl-12">
							<div class="breadcrumb-holder">
								<h1 class="main-title float-left">Example</h1>
								<ol class="breadcrumb float-right">
									<li class="breadcrumb-item">Home</li>
									<li class="breadcrumb-item active">Google Maps</li>
								</ol>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>

<!-- 					-------------------------內文-------------------------------------------------------------- -->


				</div>
				<!-- END container-fluid -->

			</div>
			<!-- END content -->

		</div>
		<!-- END content-page -->
<div th:replace="~{BackGYMLIFE/layout/footer}"></div>
</div>
</body>
</html>