<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>登入</title>
<link rel="stylesheet" th:href="@{gym/member/css/login.css}">
<script src="https://accounts.google.com/gsi/client" async defer></script>
<script src="https://www.google.com/recaptcha/api.js?render=6LdzSg4nAAAAANX_Y5wRMl5535cOi1bMjT09X2dI"></script>

</head>

<body class="test">

<header class="myHeader" th:replace="~{layout/front_nav}"></header>

        <main class="myMain">
            <div style="padding-top: 60px;" class="container">
                <form id="loginForm" class="login-form" th:action="@{/Login}" method="POST">
                    <div class="form-group">
                        <label for="userAccount">帳號:  <span id="userAccountCheckResult"></span> <span th:if="${errors.containsKey('userAccount')}" th:text="${errors.userAccount}"></span></label>
                        <input type="text" id="userAccount" name="userAccount" class="form-control" placeholder="請輸入帳號" >
                       
                        
                    </div>
                    <div class="form-group">
                        <label for="userPassword">密碼:<span th:if="${errors.containsKey('userPassword')}" th:text="${errors.userPassword}"></span></label>
                        <input type="password" id="userPassword" name="userPassword" class="form-control" placeholder="請輸入密碼" >
                        
                    </div>
                    <div id="errMsg" th:if="${errors.containsKey('msg')}" th:text="${errors.msg}"></div>
                    <div id="failedAttemptsMsg" th:if="${failedAttempts != null}" th:text="'Failed login attempts: ' + ${failedAttempts}"></div>
                    <div class="login">
                        <button id="autoFillAdmin" type="button" class="btn btn-primary btn-auto">管理員</button>
                        <button id="autoFillMember" type="button" class="btn btn-primary btn-auto">會員</button>
                        <button id="loginBtn" type="submit" value="Login"class="btn btn-primary btn-login">登入</button>
                        

                    </div>
                    <input type="hidden" id="recaptchaToken" name="recaptchaToken">

                    <div class="mt-2 registration-link">
                        沒有帳號嗎? <a th:href="@{/Register}">註冊</a>
                    </div>

                    <div class="login">
                        <a id="forgotPwdBtn" th:href="@{/loginProblem}" class="btn btn-primary btn-login">忘記密碼</a>
                    </div>
                    <hr>
                    <div class="g-signin2" data-onsuccess="onSignIn">
                        <button type="button" id="google_login" class="btn btn-large btn-primary google-button">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" alt="Google logo" class="google-logo">
                            
                          </button>
                    </div>
                </form>
            </div>
           <footer th:replace="~{layout/front_footer}"></footer>

     </main>

     <script>
        let userAccountListener = document.getElementById('userAccount');
        let resultSpan = document.getElementById('userAccountCheckResult');
        let loginForm = document.getElementById('login-form');
        
        
        userAccountListener.addEventListener('blur',(e)=>{
            let userAccount = e.target.value;
            console.log("ok");

            const regex = /^[a-zA-Z0-9]*$/;
            if(userAccount.length < 8 || userAccount.length > 20 || !regex.test(userAccount)){
                resultSpan.textContent = '帳號格式錯誤';
                return;
            }

            axios({
                method: 'get',
                url: `http://localhost:8080/gymlife/checkUserAccount?userAccount=${userAccount} `,
            
            })
            .then(function (response) {
                if (response.data.exists) {
                    resultSpan.textContent = ''; 
                    resultSpan.style.color ='';
                    console.log('登入吧!');
                } else {
                   
                  
                    console.log('請重新來過');
                }
            })
            .catch(function (error) {
                console.log(error);
                console.log("錯了錯了");
            });
        });

            document.getElementById('loginForm').addEventListener('submit', function(e) {
                e.preventDefault(); 
                let userAccount = document.getElementById('userAccount').value;
                let userPassword = document.getElementById('userPassword').value;

                if(userAccount === "" || userPassword === "") {
                    e.preventDefault();

                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: '請輸入帳號與密碼!',
                    })
                    return;
                }
                axios.post(`http://localhost:8080/gymlife/Login`, {
            userAccount: userAccount,
            userPassword: userPassword
        })
        .then(function (response) {
            let data = response.data;
            // 如果服務器返回的data表示登錄成功
           
            if (data.status === 'success') {
                //---前端來實現跳轉頁面邏輯-----
                //console.log('Permission:', data.userPermission);
                // if(data.userPermission === "0"){
                //     window.location.href ="http://localhost:8080/gymlife/";
                 

                // } else if(data.userPermission === "1") {
                //     window.location.href = "http://localhost:8080/gymlife/Admin";
                // }
                // else {
                //     window.location.href = "http://localhost:8080/gymlife/Login";
                // }
                window.location.href = data.redirectUrl;//交給後端邏輯決定

            } else if (data.status === 'notAcctive') {
                swal.fire({
                    icon: 'warning',
                    title: '帳戶未驗證',
                    text: '該使用者還未激活帳戶',
                });
            }
           
            //如果服務器返回的data表示登錄失敗
            else {
                // 根據失敗的原因顯示不同的SweetAlert
                if (data.failedAttempts && data.failedAttempts >= 5) {
                    swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: '請你冷靜!',
                    });
                } else {
                    console.log('錯誤次數:' + data.failedAttempts); 
                    swal.fire({
                        icon: 'error',
                        title: '錯誤輸入次數(達到5次時會暫時禁止用戶輸入)：',
                        text: data.failedAttempts,
                        didOpen: function() {
                            let title = document.getElementsByClassName('swal2-title')[0];
                            title.style.color = 'red';
                        }
                    })

                }
            }
        })
        .catch(function (error) {
            console.log(error);
        });
            });
            
        // ----------------讓errMsg消失--------------------------
        //使用了ajax傳送了登入訊息，此方法不用了
        // let userAccountInput = document.getElementById('userAccount');
        // let errMsgDiv = document.getElementById('errMsg');

        // userAccountInput.addEventListener('keyup', () => {
        //     errMsgDiv.style.display = 'none';
        // });

        //------------------讓使用者知道自己密碼錯誤幾次-----------------------
        //後端驗證
        let failedAttemptsMsg = document.getElementById('failedAttemptsMsg');

        if (failedAttemptsMsg) {
            let failedAttempts = parseInt(failedAttemptsMsg.textContent.split(':')[1].trim());

            if (failedAttempts >= 5) {
        swal("錯誤", "帳號已被鎖定", "error");
    } else {
        swal("錯誤", "錯誤登入次數：" + failedAttempts, "warning");
    }
        }

        document.getElementById('autoFillAdmin').addEventListener('click', (e)=>{
            document.getElementById('userAccount').value = 'TestAccount2';
            document.getElementById('userPassword').value = 'TestPassword';
        })
        document.getElementById('autoFillMember').addEventListener('click', (e)=>{
            document.getElementById('userAccount').value = 'TestAccount11';
            document.getElementById('userPassword').value = 'TestPassword';
        })

        
    // 未登入/註冊會員想報名跳出的SweetAlert提示框
	// 獲取URL中的alert參數
	const urlParams = new URLSearchParams(window.location.search);
	const alertMessage = urlParams.get('alert');

	// 如果存在alert参数，使用SweetAlert显示提示框
	if (alertMessage) {
	Swal.fire({
 	 title: '提示',
  	text: alertMessage,
  	icon: 'warning',
 	confirmButtonText: '確定'
});
}

       





	// 登入之後
	var client_id = "1069018516881-45bcda0330d6d4fmvadm4hkvbrr9kfl3.apps.googleusercontent.com",
		apiKey = "AIzaSyBpabi1bGi4BprVNE8_mRWKFfcllHoB2Rs",
		scope = "https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/user.gender.read https://www.googleapis.com/auth/user.birthday.read",
		personFields = "names,emailAddresses,photos,genders,birthdays",
		discovery_doc = "https://www.googleapis.com/discovery/v1/apis/people/v1/rest",
		resourceName = "people/me",
		$persoanl_info = $("#persoanl_info"),
		tokenClient;

	loadApi();

	// 載入 google api
	function loadApi() {
		// 載入 gapi
		$.getScript("https://apis.google.com/js/api.js", function() {
			gapi.load("client", function() {
				gapi.client.init({
					apiKey: apiKey,
					discoveryDocs: [discovery_doc],
				});
			});
		});

		// 載入 gsi
		$.getScript("https://accounts.google.com/gsi/client", function() {
			tokenClient = google.accounts.oauth2.initTokenClient({
				client_id: client_id,
				scope: scope,
				callback: signIn_callback,
				error_callback: error_callback
			});
		});

            // 登入後 callback
            function signIn_callback(res) {
                // 登入失敗時
                if (res.error !== undefined) {
                    console.log(res.error);
                    $persoanl_info.html(res.error);
                }

                // 登入成功後
                if (res && res.access_token) {
                    // 顯示帳號資訊
                    listAccountInfo();
                    setTimeout(function() {
                        let googleData = JSON.parse(localStorage.getItem('googleData'));
                        let email = googleData.email;
                        // 傳送 Email 到你的 /GoogleLogin endpoint
                        $.ajax({
                            url: "http://localhost:8080/gymlife/GoogleLogin",
                            type: "POST",
                            contentType: "application/json",
                            data: JSON.stringify({ googleMail: email }),
                            success: function(response) {
                                if (response.status === 'success') {
                                    window.location.href = "http://localhost:8080/gymlife/";
                                } else if (response.status === 'notRegistered') {
                                    window.location.href = "http://localhost:8080/gymlife/RegisterForGoogle";
                                }
                            }
                        });
                    }, 200);
                }
            }

            // 捕捉非 OAuth 錯誤 或是在傳回 OAuth 回應前遭到關閉
            function error_callback(res) {
                console.log(res);
                $persoanl_info.html(res.message);
            }

            // 顯示帳號資訊
            function listAccountInfo() {
                // 呼叫 people api 取得資料
                gapi.client.people.people.get({
                    "resourceName": resourceName,
                    "personFields": personFields,
                }).then(function(res) {
                    console.log(res.result);
                    // 顯示資料
                    var result = res.result,
                        errorMessage = "請重新登入, 並勾選生日及性別!",
                        html = "",
                        id, name, imgUrl, email, gender, birthday, birthdayStr;

                    // 沒有勾選生日、性別時
                    if (!result.genders || !result.birthdays) {
                        alert(errorMessage);
                        $persoanl_info.html(errorMessage);
                        return;
                    }

                    id = result.resourceName.split("/")[1];
                    name = result.names[0].displayName;
                    imgUrl = result.photos[0].url;
                    email = result.emailAddresses[0].value;
                    gender = result.genders[0].formattedValue;
                    birthday = result.birthdays[0].date;
                    birthdayStr = birthday.year + "-" + String(birthday.month).padStart(2, '0') + "-" + String(birthday.day).padStart(2, '0');


                    html += "ID： " + id + "<br/>";
                    html += "暱稱： " + name + "<br/>";
                    html += "頭像：<img style='width: 40 px;' src='" + imgUrl + "'/><br/>";
                    html += "email：" + email + "<br/>";
                    html += "性別：" + gender + "<br/>";
                    html += "生日：" + birthdayStr + "<br/>";


                    let googleData = {
                            id: id,
                            name: name,
                            imgUrl: imgUrl,
                            email: email,
                            gender: gender,
                            birthday: birthdayStr
                    }

                    localStorage.setItem('googleData', JSON.stringify(googleData));
                    console.log(localStorage.getItem('googleData'))


                    $persoanl_info.html(html);
                });
            }
        }

	// 點擊登入按鈕
	$("#google_login").click(function() {
		// 進動畫
		$persoanl_info.html("<img src='https://lh5.googleusercontent.com/-EyVZ0f8J0qQ/UCeEG7aa8nI/AAAAAAAADtY/9sXw53XkYXM/s512/indicator-light.gif' /> <span>請稍後...</span>");

		if (gapi.client.getToken() === null) {
			// 未登入則彈出登入視窗
			tokenClient.requestAccessToken();
		} else {
			// 已登入則不彈出視窗
			tokenClient.requestAccessToken({
				prompt: ""
			});
		}
	});

	// 點擊登出按鈕
	$("#google_logout").click(function() {
		var token = gapi.client.getToken();
		if (token !== null) {
			google.accounts.oauth2.revoke(token.access_token);
			gapi.client.setToken("");

			// 登出後的動作
			$persoanl_info.html("已登出");
		}
	});
    
    // 替換為你在步驟2中取得的網站金鑰
    const siteKey = '6LdzSg4nAAAAANX_Y5wRMl5535cOi1bMjT09X2dI';

        // 在提交表單之前獲取reCAPTCHA token
        grecaptcha.ready(function() {
        grecaptcha.execute(siteKey, { action: 'loginForm' })
            .then(function(token) {
            // 將token設置為input元素的值
            document.getElementById('recaptchaToken').value = token;
            });
        });
    
        document.addEventListener('DOMContentLoaded', function() {
    var form = document.getElementById('loginForm');

    grecaptcha.ready(function() {
        grecaptcha.execute(siteKey, { action: 'login' })
            .then(function(token) {
                // 將token添加到資料物件中
                var data = {
                    userAccount: form.elements.userAccount.value,
                    userPassword: form.elements.userPassword.value,
                    recaptchaToken: token
                };

                // 提交資料
                fetch(form.action, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                }).then(/* 處理伺服器的響應... */);
            });
    });
});


    
    
    </script>
    
    
    <script th:src="@{front/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{front/js/bootstrap.min.js}"></script>
    <script th:src="@{front/js/jquery.magnific-popup.min.js}"></script>
    <script th:src="@{front/js/masonry.pkgd.min.js}"></script>
    <script th:src="@{front/js/jquery.barfiller.js}"></script>
    <script th:src="@{front/js/jquery.slicknav.js}"></script>
    <script th:src="@{front/js/owl.carousel.min.js}"></script>
    <script th:src="@{front/js/main.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!--jQuery-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <!--Bootstrap-->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    
    
    <!-- <script src="https://accounts.google.com/gsi/client" async defer></script> -->
    </body>
</html>