<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>insertPage</title>
<style>
	
	.test {
 	  max-width: 100%;  /* 最大寬度為視窗寬度 */
    overflow-x: auto; /* 如果內容超出容器寬度，則可以橫向滾動 */
	}
	 .equal-cell-table {
        table-layout: fixed;
        width: 100%; /* Optional, you can adjust the table width as needed */
    }
    .table th, .table td {
        width: 100px;
        word-wrap: break-word; /* 舊版瀏覽器支援 */
        overflow-wrap: break-word; /* 新版瀏覽器支援 */
        overflow: hidden; /* 防止內容超出單元格 */
    }
    .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.indicator::after {
    content: "";
    position: absolute;
    top: -5px;
    right: -5px;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
}

.mail {
    position: relative;
}

	
	</style>
	<link rel="stylesheet"
	href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.0/sockjs.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</head>
<body class="adminbody">
<div id="main">
<div th:replace="~{layout/navbar}"></div>
<div class="content-page">
			<!-- Start content -->
			<div class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xl-12">
							<div class="breadcrumb-holder">
								<h1 class="main-title float-left">BackGYMLIFE firstPage</h1>
								<ol class="breadcrumb float-right">
									<li class="breadcrumb-item">會員</li>
									<li class="breadcrumb-item active">會員列表</li>
								</ol>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
<!---------------------------內文---------------------------------------------------------------->
					<div class="test">
					 
            <table id="myTable" class="table equal-cell-table">	
                <thead>
                    <tr>
                        <th scope="col">會員編號</th>
                        <th scope="col">會員帳號</th>
                        <th scope="col">會員姓名</th>
                        <th scope="col">會員性別</th>
                        <th scope="col">會員生日</th>
                        <th scope="col">會員地址</th>
                        <th scope="col">會員電話</th>
                        <th scope="col">會員信箱</th>
                        <th scope="col">會員暱稱</th>
                        <th scope="col">註冊日期</th>
                        <th scope="col">會員權限</th>
                        <th scope="col">會員狀態</th>

                        <th>更新</th>
                        <th>刪除</th>
                    </tr>
                </thead>

			<tbody>
			  <tr th:each="member, status : ${members}">
			    <td th:text="${member.userId}"></td>
			    <td th:text="${member.userAccount}"></td>
			    <td th:text="${member.userName}"></td>
			    <td th:text="${member.userGender}"></td>
			<td th:text="${member.formattedUserBirthDay}"></td>
			    <td th:text="${member.userAddress}"></td>
			    <td th:text="${member.userTel}"></td>
			    <td th:text="${member.userEmail}"></td>
			    <td th:text="${member.userNickName}"></td>
			    <td th:text="${member.formattedUserRegisterDate}"></td>
			    <td th:text="${member.userPermission == '1' ? '管理員' : '一般會員'}"></td>
			    <td>
                    <label class="switch">
                        <input type="checkbox" th:checked="${member.userStatus == 1}" th:onclick="'changeUserStatus(' + ${member.userId} + ')'">
                        <span class="slider round"></span>
                    </label>
                </td>


			    <td>
			      <button data-bs-toggle="modal" data-bs-target="#updateModal" 
			              th:onclick="'storeData(' + ${status.index} + ')'" class="btn btn-primary">更新</button>
			    </td>
			 <td>
			    <button data-bs-toggle="modal" data-bs-target="#deleteModal" 
			            th:attr="onclick='storeDataForDelete(' + ${status.index} + ')' " class="btn btn-danger">刪除</button>
			</td>


			  </tr>
			</tbody>


            </table>
        </div>
   
   <!-- 更新視窗 -->
		   <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="updateModalLabel">更新資訊</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
		      </div>
		      <div class="modal-body">
		        <!-- 在這裡放置更新表單 -->
		         <form id="updateForm">
        <input type="hidden" id="userIdInput" value="">
        <div class="mb-3">
            <label for="accountInput" class="form-label">會員帳號</label>
            <input type="text" class="form-control" id="accountInput">
        </div>
       
        <div class="mb-3">
            <label for="nameInput" class="form-label">會員姓名</label>
            <input type="text" class="form-control" id="nameInput">
        </div>
        <div class="mb-3">
            <label for="emailInput" class="form-label">會員信箱</label>
            <input type="email" class="form-control" id="emailInput">
        </div>
        <div class="mb-3">
            <label for="genderInput" class="form-label">會員性別</label>
            <input type="text" class="form-control" id="genderInput">
        </div>
        <div class="mb-3">
            <label for="birthDayInput" class="form-label">會員生日</label>
            <input type="date" class="form-control" id="birthDayInput" >
        </div>
        <div class="mb-3">
            <label for="addressInput" class="form-label">會員住址</label>
            <input type="text" class="form-control" id="addressInput">
        </div>
        <div class="mb-3">
            <label for="telInput" class="form-label">會員電話</label>
            <input type="tel" class="form-control" id="telInput">
        </div>
        <input type="hidden" id="userPermissionInput" value="">
        <!-- 更多的欄位可以在這裡添加 -->
    </form> 
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
		        <button type="button" class="btn btn-primary" onclick="updateData()">保存更新</button>
		      </div>
		    </div>
		  </div>
		</div>

<!-- 刪除視窗 -->
			<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="deleteModalLabel">確認刪除</h5>
			        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
			      </div>
			      <div class="modal-body">
			        確定要刪除此會員嗎？
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
			        <button type="button" class="btn btn-danger" onclick="deleteData()">確認刪除</button>
			      </div>
			    </div>
			  </div>
			</div>
		</div>

				</div>
				<!-- END container-fluid -->

			</div>
			<!-- END content -->

		</div>
		<!-- END content-page -->
<div th:replace="~{layout/footer}"></div>

<script>
//    $(document).ready(function() {
//     function refreshMemberData() {
//         $.ajax({
//             url: "gymlife/api/MemberQuery",
//             type: "GET",
//             success: function(data) {
//                 $("tbody").empty();
//                 data.forEach(function(member, index) {
//                     let row = $("<tr>");
//                         //append 在選定元素的內部結尾處插入內容
//                     row.append($("<td>").text(member.userId));
//                     row.append($("<td>").text(member.userAccount));
//                     row.append($("<td>").text(member.userName));
//                     row.append($("<td>").text(member.userGender));
//                     row.append($("<td>").text(member.userBirthDay));
//                     row.append($("<td>").text(member.userAddress));
//                     row.append($("<td>").text(member.userTel));
//                     row.append($("<td>").text(member.userEmail));
//                     row.append($("<td>").text(member.userNickName));
//                     row.append($("<td>").text(member.userRegisterDate));
//                     row.append($("<td>").text(member.userTotalSpend));
//                     row.append($("<td>").text(member.userRewardPoint));
//                     row.append($("<td>").text(member.userPermission));
// 						let updateButton = $("<button>")
//                         .addClass("btn btn-primary")
//                         .attr("data-bs-toggle", "modal")
//                         .attr("data-bs-target", "#updateModal")
//                         .text("更新")
//                         .click(function() {
//                             storeData(index); // 當更新按鈕被點擊時，呼叫 storeData 函數並傳入當前行的索引
//                         });
//                     row.append($("<td>").append(updateButton));

//                     let deleteButton = $("<button>")
//                         .addClass("btn btn-danger")
//                         .attr("data-bs-toggle", "modal")
//                         .attr("data-bs-target", "#deleteModal")
//                         .text("刪除")
//                         .click(function() {
//                             userIdToDelete = member.userId;
//                             console.log("Stored User ID: ", userIdToDelete);
//                         });
//                     row.append($("<td>").append(deleteButton));

//                     $("tbody").append(row);
//                 });
//             },
//             error: function(jqXHR, textStatus, errorThrown) {
//                 console.error(textStatus, errorThrown);
//             }
//         });
//     }

//     setInterval(refreshMemberData, 1000);
// });

// $(document).ready(function() {
//     // Connect to the WebSocket endpoint
//     let socket = new SockJS('http://localhost:8080/gymlife/MemberQuery');

//     // Create a STOMP client over the WebSocket connection
//     stompClient = Stomp.over(socket);
//     stompClient.connect({}, function (frame) {
//         // Subscribe to the '/topic/MemberQuery' destination
//         stompClient.subscribe('/topic/MemberQuery', function (message) {
//             let data = JSON.parse(message.body);
//             $("tbody").empty();
//             data.forEach(function(member, index) {
//                 let row = $("<tr>");
//             row.append($("<td>").text(member.userId));
//             row.append($("<td>").text(member.userAccount));
//             row.append($("<td>").text(member.userName));
//             row.append($("<td>").text(member.userGender));
//             row.append($("<td>").text(member.userBirthDay));
//             row.append($("<td>").text(member.userAddress));
//             row.append($("<td>").text(member.userTel));
//             row.append($("<td>").text(member.userEmail));
//             row.append($("<td>").text(member.userNickName));
//             row.append($("<td>").text(member.userRegisterDate));
//             let permissionText = member.userPermission == 1 ? "管理員" : "一般會員";
//             row.append($("<td>").text(permissionText));
//                 let statusSwitch = $("<label>").addClass("switch");
//         let statusInput = $("<input>").attr("type", "checkbox");
//         if (member.userStatus == 1) {
//             statusInput.prop('checked', true);
//         }
//         statusInput.click(function() {
//             changeUserStatus(member.userId);
//         });
//         let slider = $("<span>").addClass("slider round");
//         statusSwitch.append(statusInput);
//         statusSwitch.append(slider);
//         row.append($("<td>").append(statusSwitch));


//             let updateButton = $("<button>")
//                 .addClass("btn btn-primary")
//                 .attr("data-bs-toggle", "modal")
//                 .attr("data-bs-target", "#updateModal")
//                 .text("更新")
//                 .click(function() {
//                     storeData(index);
//                 });
//             row.append($("<td>").append(updateButton));

//             let deleteButton = $("<button>")
//                 .addClass("btn btn-danger")
//                 .attr("data-bs-toggle", "modal")
//                 .attr("data-bs-target", "#deleteModal")
//                 .text("刪除")
//                 .click(function() {
//                     userIdToDelete = member.userId;
//                     console.log("Stored User ID: ", userIdToDelete);
//                 });
//             row.append($("<td>").append(deleteButton));

//             $("tbody").append(row);
        
    
//             });
//         });
//     });

//     stompClient.onDisconnect = function() {
//         console.log('Disconnected from WebSocket server.');
//     };

//     stompClient.onStompError = function(frame) {
//         console.log('STOMP error:', frame);
//     };
// });


            //存取資訊
            function storeData(rowId) {
                // 使用 rowId 獲取該行的信息
                let tr = document.getElementsByTagName("tr")[rowId +1];
                // 逐個獲取單元格的值
                let userId = tr.cells[0].innerText;
                let userAccount = tr.cells[1].innerText;
                
                let userName = tr.cells[2].innerText;
                let userGender = tr.cells[3].innerText;
                let userBirthDay = tr.cells[4].innerText;
                let userAddress = tr.cells[5].innerText;
                let userTel = tr.cells[6].innerText;
                let userEmail = tr.cells[7].innerText;
                
                const rowData = {
                    id: rowId,
                    userId: userId,
                    userAccount: userAccount,
                   	UserName: userName,
                   	userEmail: userEmail,
                    userGender: userGender,
                    userBirthDay: userBirthDay,
                    userAddress: userAddress,
                    userTel: userTel,
                    
                };
                // 將 rowData 保存到 localStorage
                localStorage.setItem("rowData", JSON.stringify(rowData));
            }

            document.getElementById("updateModal").addEventListener("shown.bs.modal", function () {
                const rowData = JSON.parse(localStorage.getItem("rowData"));
             
                document.getElementById("userIdInput").value = rowData.userId;
                document.getElementById("accountInput").value = rowData.userAccount;
                document.getElementById("nameInput").value = rowData.UserName;
                document.getElementById("emailInput").value = rowData.userEmail;
                document.getElementById("genderInput").value = rowData.userGender;
                document.getElementById("birthDayInput").value = rowData.userBirthDay;
                document.getElementById("addressInput").value = rowData.userAddress;
                document.getElementById("telInput").value = rowData.userTel;
              
            });
            
            let stompClient = null;

            $(document).ready(function() {
                // Connect to the WebSocket endpoint
                let socket = new SockJS('http://localhost:8080/gymlife/MemberQuery');

                // Create a STOMP client over the WebSocket connection
                stompClient = Stomp.over(socket);
                
                stompClient.connect({}, function (frame) {
                    console.log('Connected: ' + frame);
                    // Subscribe to the '/topic/MemberQuery' destination
                    stompClient.subscribe('/topic/MemberQuery', function (message) {
                        
                        let data = JSON.parse(message.body);
                         // Update member list with new data
                         newMemberList(data);
                         displayNewMemberMessage(message.headers);
                         $('.mail').addClass('indicator');  

                        // 更新未读消息数
                        let currentUnread = parseInt($('#noread').text()) || 0;
                        $('#noread').text(currentUnread + 1);

                    });
                });
            });

            function updateData() {
            	const updatedUserId = document.getElementById("userIdInput").value;
                const updatedAccount = document.getElementById("accountInput").value;
                const updatedName = document.getElementById("nameInput").value;
                const updatedEmail = document.getElementById("emailInput").value;
                const updatedGender = document.getElementById("genderInput").value;
                const updatedBirthDay = document.getElementById("birthDayInput").value;
                const updatedAddress = document.getElementById("addressInput").value;
                const updatedTel = document.getElementById("telInput").value;
              
                        const data = {
                    userId: updatedUserId,
                    userAccount: updatedAccount,
                    userName: updatedName,
                    userEmail: updatedEmail,
                    userGender: updatedGender,
                    userBirthDay: updatedBirthDay,
                    userAddress: updatedAddress,
                    userTel: updatedTel,
                };
                // 發送AJAX請求到後端Servlet
                $.ajax({
                    url: 'gymlife/api/memberUpdate',
                    method: "POST",
                    contentType: "application/json",
                    data: JSON.stringify(data),
                    success: function(allMembersResponse) {
                        console.log("Update operation successful");
                        $('#updateModal').modal('hide'); // Close the modal after successful update operation
                        // Build update message object
                        const updateMessage = {
                            type: "update",
                            userId: updatedUserId
                        };
                        
                        // Send update message using WebSocket
                        stompClient.send("/topic/MemberQuery", {}, JSON.stringify(updateMessage));
                        
                        Swal.fire(
                            '成功更新',
                            '更新成功',
                            'success'
                        );

                        // Remove rowData from localStorage
                        localStorage.removeItem("rowData");
                        // newMemberList(allMembersResponse);

                        $.ajax({
                            url: 'gymlife/api/MemberQuery',
                            method: "GET",
                            success: function(allMembersResponse) {
                                console.log("Get all members  request successful");
                                // Update the member list
                                newMemberList(allMembersResponse);
                            },
                            error: function(xhr, status, error) {
                                // Handle error
                                console.log("HTTP status: ", xhr.status);
                                console.log("Status description: ", xhr.statusText);
                                alert("Get all members operation failed: " + xhr.responseText);
                            }
                        });
                    },
                    error: function(xhr, status, error) {
                        // Handle error
                        console.log("HTTP status: ", xhr.status);
                        console.log("Status description: ", xhr.statusText);
                        alert("Update operation failed: " + xhr.responseText);
                    }
                });
            }
            
            
            //--------------刪除方法--------------
        
        let userIdToDelete = null;
        function storeDataForDelete(index) {
                
                const userIdElement = $(`tbody > tr:eq(${index}) > td:first-child`);
                const userId = userIdElement.text().trim();
                
            if (userId) {
                userIdToDelete = parseInt(userId, 10); // Convert the userId to an integer (assuming that the ID is a number)
                console.log("Stored User ID: ", userIdToDelete);
            } else {
                console.error("Could not find User ID in the first cell of the row");
            }
        }



        function deleteData() {
            const userId = userIdToDelete;
            const url = `gymlife/api/DeleteMember/${userId}`;

            $.ajax({
                url: url,
                method: "DELETE",
                success: function(response) {
                    console.log("Delete request successful");
                    $('#deleteModal').modal('hide'); // Close the modal after successful delete operation

                    // 构建更新消息对象
                    const updateMessage = {
                        type: "delete",
                        userId: userId
                    };
                    
                    // 使用WebSocket发送更新消息
                    stompClient.send("/topic/MemberQuery", {}, JSON.stringify(updateMessage));
                    
                    Swal.fire(
                        '成功刪除',
                        '刪除成功',
                        'success'
                    );
                    $.ajax({
                        url: 'gymlife/api/MemberQuery',
                        method: "GET",
                        success: function(allMembersResponse) {
                            console.log("Get all members request successful");
                            members = allMembersResponse;
                
                            newMemberList(members);

                        },
                        error: function(xhr, status, error) {
                            // 处理错误
                            console.log("HTTP status: ", xhr.status);
                            console.log("Status description: ", xhr.statusText);
                            alert("Get all members operation f	ailed: " + xhr.responseText);
                        }
                    });

                
                },
                error: function(xhr, status, error) {
                    // 处理错误
                    console.log("HTTP status: ", xhr.status);
                    console.log("Status description: ", xhr.statusText);
                    alert("Delete operation failed: " + xhr.responseText);
                    $('#deleteModal').modal('hide');
                }
                
            });
            console.log("deleteData called");
        }

function changeUserStatus(userId) {
    // 发送 AJAX 请求
    $.ajax({
        url: 'api/updateUserStatus',  // 你的 API 端点
        type: 'POST',
        contentType: 'application/json', 
        data:JSON.stringify({
            userId: userId
        }),
        success: function(response) {
            console.log("User status changed successfully.");
        },
        error: function(error) {
            console.log("Error changing user status: ", error);
        }
    });
}

function newMemberList(data) {
    console.log(data);
    $("tbody").empty();
    data.forEach(function(member, index) {
        let row = $("<tr>");
            row.append($("<td>").text(member.userId));
            row.append($("<td>").text(member.userAccount));
            row.append($("<td>").text(member.userName));
            row.append($("<td>").text(member.userGender));
            row.append($("<td>").text(member.userBirthDay));
            row.append($("<td>").text(member.userAddress));
            row.append($("<td>").text(member.userTel));
            row.append($("<td>").text(member.userEmail));
            row.append($("<td>").text(member.userNickName));
            row.append($("<td>").text(member.userRegisterDate));
            let permissionText = member.userPermission == 1 ? "管理員" : "一般會員";
            row.append($("<td>").text(permissionText));
                let statusSwitch = $("<label>").addClass("switch");
        let statusInput = $("<input>").attr("type", "checkbox");
        if (member.userStatus == 1) {
            statusInput.prop('checked', true);
        }
        statusInput.click(function() {
            changeUserStatus(member.userId);
        });
        let slider = $("<span>").addClass("slider round");
        statusSwitch.append(statusInput);
        statusSwitch.append(slider);
        row.append($("<td>").append(statusSwitch));


            let updateButton = $("<button>")
                .addClass("btn btn-primary")
                .attr("data-bs-toggle", "modal")
                .attr("data-bs-target", "#updateModal")
                .text("更新")
                .click(function() {
                    storeData(index);
                });
            row.append($("<td>").append(updateButton));

            let deleteButton = $("<button>")
                .addClass("btn btn-danger")
                .attr("data-bs-toggle", "modal")
                .attr("data-bs-target", "#deleteModal")
                .text("刪除")
                .click(function() {
                    userIdToDelete = member.userId;
                    console.log("Stored User ID: ", userIdToDelete);
                });
            row.append($("<td>").append(deleteButton));

            $("tbody").append(row);
        
    
            });
        }
        
        function displayNewMemberMessage(headers) {
            let mailItem = $("#mailitem");
            let username = headers['username'];
            let newMemberMessage = "<a href='#' class='dropdown-item notify-item'>有一位新會員註冊！"  + "</a>";
            mailItem.append(newMemberMessage);
           
            }

            $('.mail').on('click', function () {
                // 隐藏小红点
                $(this).removeClass('indicator');

                // 清空未读消息数
                $('#noread').text('');
            });

        </script>
        
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
            crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!--             <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> -->
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> 
            <script
			src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
		<script>let table = new DataTable('#myTable');</script>
            
</body>
</html>