<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>insertPage</title>
<style>
	
	.test {
 	  max-width: 100%;  /* 最大寬度為視窗寬度 */
    overflow-x: auto; /* 如果內容超出容器寬度，則可以橫向滾動 */
	}

	div  > .small-chart {
    width: 150px;
    height: 150px;
}
	.small-div {
    width: 400px;
    height: 400px;
}

#counter {
            font-size: 48px;
            color: #333;
            text-align: center;
        }

	
	</style>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
		
</head>
<body class="adminbody">
<div id="main">
<div th:replace="~{layout/navbar}"></div>
<div class="content-page">
			<!-- Start content -->
			<div class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xl-12">
							<div class="breadcrumb-holder">
								<h1 class="main-title float-left">後台</h1>
								<ol class="breadcrumb float-right">
									<li class="breadcrumb-item">會員</li>
									<li class="breadcrumb-item active">會員分析 </li>
								</ol>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
<!---------------------------內文---------------------------------------------------------------->
					<div class="row">
            <div class="small-div">
						  <canvas id="genderChart" class="small-chart"></canvas>
					  </div>
            <div class="small-div" style="width: 50%; margin: auto; text-align: center;">
						  <canvas id="memberChart" class="small-chart" style="font-size: 48px;"></canvas>
              <div id="totalMembers" style="font-size: 24px;"></div>
					</div>
          <div class="small-div" style="width: 50%; margin: auto; text-align: center;">
            <canvas id="registerChart" class="small-chart" style="font-size: 48px;"></canvas>
        </div>
				</div>

				</div>
				<!-- END container-fluid -->

			</div>
			<!-- END content -->

		</div>
		<!-- END content-page -->
<div th:replace="~{layout/footer}"></div>
</div>

<script>
  fetch('api/genderCountData')
    .then(response => response.json())
    .then(genderCount => {
        // 在这里使用 genderCount 数据来创建图表
        var ctx = document.getElementById('genderChart').getContext('2d');
        new Chart(ctx, {
            type: 'pie',
            data: {
                labels: Object.keys(genderCount),
                datasets: [{
                    label: 'Gender Count',
                    data: Object.values(genderCount),
                    backgroundColor: [
                        'rgb(255, 99, 132)',
                        'rgb(75, 192, 192)',
                    ],
                    borderColor: [
                        'rgb(255, 99, 132)',
                        'rgb(75, 192, 192)',
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true
            }
        });
    });

    fetch('api/totalMember')
  .then(response => response.json())
  .then(totalUsers => {
    var ctx = document.getElementById('memberChart').getContext('2d');
    var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: ['members'],
        datasets: [{
          label: '# of Users',
          data: [totalUsers],
          backgroundColor: 'rgba(75, 192, 192, 0.2)',
          borderColor: 'rgba(75, 192, 192, 1)',
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
    // create a new div to display the total number of users
    var totalMembersDiv = document.getElementById('totalMembers');
      totalMembersDiv.textContent = "會員總數: " + totalUsers;
  });

  fetch('api/membersByMonth')
.then(response => response.json())
.then(data => {
  var ctx = document.getElementById('registerChart').getContext('2d');

  // 取出月份和對應的人數
  var labels = data.map(obj =>  obj.month + ' 月' );
  var usersData = data.map(obj => obj.count);

  var myChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: labels,
      datasets: [{
        label: '# of Registered Members',
        data: usersData,
        fill: false,
        borderColor: 'rgba(75, 192, 192, 1)',
        tension: 0.1 // 這會產生一個較平滑的線
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
});



</script>

</body>
</html>