<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>insertPage</title>
<style>
	
	.test {
 	  max-width: 100%;  /* 最大寬度為視窗寬度 */
    overflow-x: auto; /* 如果內容超出容器寬度，則可以橫向滾動 */
	}

	div  > .small-chart {
    width: 50px;
    height: 50px;
}
	.small-div {
    width: 200px;
    height: 200px;
}


	
	</style>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
		
</head>
<body class="adminbody">
<div id="main">
<div th:replace="~{layout/navbar}"></div>
<div class="content-page">
			<!-- Start content -->
			<div class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xl-12">
							<div class="breadcrumb-holder">
								<h1 class="main-title float-left">後台</h1>
								<ol class="breadcrumb float-right">
									<li class="breadcrumb-item">會員</li>
									<li class="breadcrumb-item active">會員列表 </li>
								</ol>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
<!---------------------------內文---------------------------------------------------------------->
					<div class="small-div">
						<canvas id="genderChart" class="small-chart"></canvas>
					</div>
				

				</div>
				<!-- END container-fluid -->

			</div>
			<!-- END content -->

		</div>
		<!-- END content-page -->
<div th:replace="~{layout/footer}"></div>
</div>

<script>
  fetch('api/genderCountData')
    .then(response => response.json())
    .then(genderCount => {
        // 在这里使用 genderCount 数据来创建图表
        var ctx = document.getElementById('genderChart').getContext('2d');
        new Chart(ctx, {
            type: 'pie',
            data: {
                labels: Object.keys(genderCount),
                datasets: [{
                    label: 'Gender Count',
                    data: Object.values(genderCount),
                    backgroundColor: [
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(255, 99, 132, 0.2)'
                    ],
                    borderColor: [
                        'rgba(75, 192, 192, 1)',
                        'rgba(255, 99, 132, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true
            }
        });
    });
</script>

</body>
</html>