@charset "UTF-8";
  * {
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
}
/* 取消a標籤之底線 */
a {
	text-decoration: none;
}
/* 取消a標籤之變色 */
a:visited {
	color: #000;
}

textarea {
	resize: none;
}

/* 新增的按鈕 */
.add-new-item {
	margin: 20px;
	width: fit-content;
}

/* 中間內容物區塊 */
.wholePageContent {
	width: calc(100% - 17%);
	float: right;
	padding: 1%;
	position: relative;
	padding-bottom: 60px; /* 增加底部 padding */
	background-color: #fff;
}

.main-content {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	flex-direction: row;
}
.cardContent{
	padding: 6px;
}

.com-list {
	flex: 0 0 calc(23% - 1rem); /* 每行最多顯示4個卡片 */
	margin: 10px;
	margin-left:25px;
	display: flex;
	text-align: center;
}
.com-list:hover{
	background-color: #f0f0f0;
}

/*  輪播   */
.add-img{
	width: 250px;
	height: 250px;
}
.rollImgDiv {
    width: 250px;
    height: 250px;
}



.rollImg{
	margin: 0 auto;
	overflow: hidden;
	width: 200px;
	height: 200px;
}
.imgBtn{
	display:block;
	width: 70px;
	margin: 0 auto;
}


/* 滑動開關 */
.slider {
	display: flex;
	justify-content: flex-end;
}
.switch-btn{
	width: 45px;
	height: 25px;
	position: relative;
	margin-top:3px;
	margin-bottom:3px;
}
.hidden-checkbox,
.switch-area,
.switch-toggle{
	position: absolute;
	top: 0;
	left: 0;
}
.hidden-checkbox{
	width: 45px;
    height: 25px;
	opacity: 0;
	z-index: 10;
	cursor: pointer;
}
.switch-area{
	width: 100%;
	height: 100%;
	border-radius: 25px;
	background-color: #B3B3B3;
}
.switch-toggle{
	width: 25px;
	height: 25px;
	border: 1px solid #B3B3B3;
	border-radius: 50%;
	background-color: #fff;
}

.hidden-checkbox:checked ~ .switch-area{
	background-color: #4084F1;
}
.hidden-checkbox:checked ~ .switch-toggle{
	border: 1px solid #4084F1;
	left: 20px;
}
.switch-area,
.switch-toggle{
	-webkit-transition: All 0.3s ease; 
	   -moz-transition: All 0.3s ease; 
	     -o-transition: All 0.3s ease;
	        transition: All 0.3s ease; 
}

/* 左邊的書籤Aside區塊 */
.div-aside {
	position: fixed;
	background-color: rgb(255, 255, 255);
	padding: 5px;
	border: 1px solid;
	    left: 255px;
}
.div-aside:hover {
	background-color: #c1c1c17a;
}
.aside-search{
	margin: 5px;
}

.aside-a {
	margin: 20px;
	border-bottom: 1px solid;
	width: fit-content;
}

/* 固定按鈕在右下角 */
#back-to-top-btn {
	position: fixed;
	right: 30px;
	bottom: 30px;
	z-index: 9999;
	background: rgba(0, 0, 0, 0.5);
	color: white;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 15px;
	border-radius: 50%;
	font-size: 18px;
	transition: background-color 0.3s;
}

#back-to-top-btn:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

/* 隱藏按鈕 */
#back-to-top-btn.hide {
	display: none;
}